extends ../layouts/main

block content
  .row
    .col-12
      h1.h3.mb-4 Dashboard
  .row
    .col-lg-8
      .card.mb-4
        .card-body
          p.mb-0 Welcome, 
            strong #{user && user.email}
      if roles && roles.length
        .card
          .card-header Your roles
          .card-body
            ul.mb-0
              each r in roles
                li= r.name || r
    .col-lg-4
      .card
        .card-body
          form(method='post' action='/logout')
            button.btn.btn-outline-danger.w-100(type='submit') Logout