extends ../layouts/main
include ../mixins/forms

block content
  .row.justify-content-center
    .col-md-6.col-lg-5
      h1.h3.mb-3 Sign in
      if error
        .alert.alert-danger(role='alert')= error
      form(method='post' action='/login')
        +formGroup('email', 'Email', 'email')
        +formGroup('password', 'Password', 'password')
        +submitRow('Sign in')
      .mt-3.d-flex.flex-row.justify-content-between
        a(href='/reset-password') Reset password
        a(href='/verify-email/resend') Resend verification email