extends ../layouts/main

block content
  h1.h3.mb-3 Statistics
  p Here you can find various statistics related to spam detection and IP reputation.
  .row.g-3
    .col-md-6
      .card
        .card-body
          h2.h6.card-title Message stats
          p.text-muted Coming soon…
    .col-md-6
      .card
        .card-body
          h2.h6.card-title IP reputation
          p.text-muted Coming soon…