/**
 * /login/index.css
 */

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: var(--panel-background);
  width: 90vw;
  max-width: 28em;
  padding: 20px;
  border: 1px solid var(--panel-trim);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px #0002;
}

.form-row:not(:last-child) {
  margin-bottom: 20px;
}

.form-row label,
.form-row input {
  display: block;
  width: 100%;
}

.actions-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

h1,
html,
body {
  /* font-size: 20px; */
}

h1 {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .actions-row {
    flex-direction: row;
    align-items: center;
  }
}
