footer.mt-5.py-4.border-top
  .container
    .row
      .col-md-6
        p.mb-1.text-muted © #{new Date().getFullYear()} Spam Shield
        small.text-muted Built with Express, Pug & Bootstrap 5.
      .col-md-6.text-md-end.mt-3.mt-md-0
        a.me-3(href='https://github.com/spamshield' target='_blank') GitHub
        a(href='https://twitter.com/spamshield' target='_blank') Twitter