footer.mt-5.py-4.border-top
  .container
    .row
      .col-md-6
        p.mb-1.text-muted © #{new Date().getFullYear()}&nbsp;
          a(href='https://headwall.hosting.com') Headwall Hosting
      .col-md-6.text-md-end.mt-3.mt-md-0
        // GitHub project link with Bootstrap icon
        a.me-3.d-inline-flex.align-items-center.gap-1(href='https://github.com/headwalluk/spam-shield' target='_blank' aria-label='Project source on GitHub')
          i.bi.bi-github.fs-5(aria-hidden='true')
          span GitHub :: spam-shield
        a.me-3.d-inline-flex.align-items-center.gap-1(href='/docs' target='_blank' aria-label='Project documentation')
          i.bi.bi-book.fs-5(aria-hidden='true')
          span Docs
        