nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') Spam Shield
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#nav' aria-controls='nav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #nav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        if user
          li.nav-item
            a.nav-link(href='/dash') Dashboard
        else
          if enableRegistration
            li.nav-item
              a.nav-link(href='/register') Register
          li.nav-item
            a.nav-link(href='/login') Login
        // Theme dropdown
        li.nav-item.dropdown
          a#themeDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            i.me-1.bi.bi-circle-half
          ul.dropdown-menu.dropdown-menu-end(aria-labelledby='themeDropdown')
            li
              button.dropdown-item(type='button' data-theme='auto')
                i.me-2.bi.bi-circle-half
                | Auto
            li
              button.dropdown-item(type='button' data-theme='light')
                i.me-2.bi.bi-sun
                | Light
            li
              button.dropdown-item(type='button' data-theme='dark')
                i.me-2.bi.bi-moon
                | Dark
